.conteiner {
  width: 100%;
  max-width: 1000%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.logo {
  padding-top: 31px;
  padding-left: 120px;
  padding-right: 229px;
  color: #46a358;
}
.menu {
  display: inline-block;
  padding: 38px 25px;
}
